body{
	background-color:#dddddd;
}

ul li.guion{
	list-style-type: none;
	text-indent:-7px;
	margin-bottom:10px;
}
ul li.guion:before{ content:"-"; position:relative; left:-7px;}

.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;
	font-weight:bold;
	background-color: #E83956;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: #FFBC00;
}

@font-face{
	font-family:Gotham-Bold;
	font-display: auto;
	/* src:url(../fonts/Gotham-Bold.ttf);  */
	src: url('../fonts/Gotham-Bold.eot');
	src: local('☺'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Bold.svg') format('svg');

}
@font-face{
	font-family:Gotham-Ultra;
	font-display: auto;
	src:url(../fonts/Gotham-Ultra.ttf);
}
@font-face{
	font-family:Gotham-Book;
	font-display: auto;
	/* src:url(../fonts/Gotham-Book.ttf); */
	src: url('fonts/Gotham-Book.eot');
	src: local('☺'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg') format('svg');
}


/* Cabecera */
header{
	border-bottom:25px solid #bb0000;
	margin-bottom:20px;
}
header a:hover{
	text-decoration:none;
}
.cabecera-color{
	background-color:#ffffff;
}
.cabecera-padding{
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Menú */
.menu-padding{
	padding-top: 10px;
	padding-bottom: 10px;
}
.menu-colores{
	color:#ffffff;
	background-color:#E83956;
}
.menu-borde{
	display: block;
	border-right: 1px solid #ffffff;
}

/* Difusión */
.difusion-color{
	background-color:#ffffff;
}
.difusion-margen-titulo{
	margin-top:15px;
	margin-bottom:20px;
}
.difusion-padding-titulo{
	padding-top: 10px;
}
.difusion-padding-notas{
	padding-bottom: 20px;
}
.difusion-color-cajas{
	background-color:#F1EFEF;
}
.difusion-espacios-cajas{
	margin:5px;
	padding:10px;
}
.difusion-noticia-titulo{
	font-weight:bold;
	font-size:20px;
	color:#000;
}
.difusion-noticia-titulo:hover{
	color:#666;
}
.difusion-leer-mas{
	color:#F4B009;
	margin-right:5px;
	padding: 5px;
	border: 1px dashed #000000;
	font-weight:bold;
}
.difusion-leer-mas:hover{
	color:#E83956;
}

/* Preguntas frecuentes */
.caja-preguntas{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	background-color:#ACEAE7;
	border-radius: 25px;
}
.tamano-contenido-preguntas{
	font-size:0.90rem;
}

/* Footer */
footer{
	font-family:Gotham-Book;
}
.footer-color{
	background-color:#F1EFEF;
	color:#8D8C8B;
}
.footer-espacios{
	padding:15px;
}
.footer-titulo{
	font-weight:bold;
	color:#333;
	font-size:1.05em;
}
.footer-contenido{
	font-size:13px;
}
.footer-borde-derecho{
}

/* Presentación */
.presentacion-fondo{
	background: url("../imagenes/fondo-contenedor-presentacion-v2.jpg") repeat center;
}
.presentacion-color{
	
	background: url(../imagenes/fondo-presentacion.jpg) repeat fixed center;
}
.presentacion-margen{
	margin-top:10px;
	margin-bottom:0px;
	margin-left:20px;
	margin-right:20px;
	padding-left:25px;
	padding-right:25px;
}
.presentacion-padding{
	padding-top:20px;
	padding-bottom:20px;
}

/* Consulta */
.consulta-margen{
	margin-top:0px;
	margin-bottom:0px;
	margin-left:20px;
	margin-right:20px;
	padding-left:25px;
	padding-right:25px;
}

/* BONO */
.bono{
	background:#ffbe52;
	-webkit-box-shadow: 2px 5px 5px 0 rgba(0,0,0,0.6);
	box-shadow: 2px 5px 5px 0 rgba(0,0,0,0.6);
	transition: all 0.3s;
}
.bono:hover{
	-webkit-box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.9);
	box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.9);
	transform: scale(1.04);
	}
.link_bono{
	color: #000000;
}
.link_bono:hover{
	color: #000000;
	text-decoration:none;
	transform: scale(1.5);
}
.cabecera_bono{
	background:#bb0000;
	color:#ffffff;
	font-family:Gotham-Bold;
	font-size:1.6em;
	margin-bottom:0px;
	padding-right: 15px;
    padding-left: 15px;
	padding-top:5px;
	padding-bottom:5px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   .link_bono:hover{
	   transform: scale(1);
	   }
}
.imagen_bono{
	background:#ffffff;
	text-align:center;
	margin-right: -15px;
    margin-left: -15px;
	padding-top:20px;
	padding-bottom:20px;
}
.concepto_bono{
	padding-top:15px;
	padding-bottom:20px;
	font-size:0.9em;
	line-height:1.4em;
}
.conte_bonos2{
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.conte_bonos2 .bono{
	flex: 0 0 40%;
    max-width: 40%;
	margin-left:5%;
	margin-right:5%;
	padding-right: 15px;
    padding-left: 15px;
}

.conte_bonos4{
}
/*******************************************************************************************/
/* Generales */
.fondo_ladrillos{
    margin-right: -15px;
    margin-left: -15px;
	background:url(../imagenes/fondo-ladrillos.jpg) no-repeat center;
}
.container{
	background:#FFFFFF;
}
.contenido{
	
	max-width: 1090px;
	margin-right: auto;
    margin-left: auto;
	font-family:Gotham-Book;
	}
.centrado{
	text-align: center;
}
.color-principal{
	color:#E83956;
}
.color-secundario{
	color:#81C9C8;
}
.tamano-titulo-principal{
	font-size:28px;
}
.tamano-titulo-secundario{
	font-size:22px;
}
.tamano-titulo{
	font-size:20px;
}
.enlace{
	cursor:pointer;
}
.enlace-preguntas{
	cursor:pointer;
}
.enlace-preguntas:hover{
	color:#E83956;
}
.bordePrueba{
	border:3px solid red;
}
.borde-rayado{
	border: 1px dashed #000000;
}
.borde-ab-rayado{
	border-top: 1px dashed #000;
	border-bottom: 1px dashed #000;
}
.negrita{
	font-weight:bold;
}
.alinear-derecha{
	text-align:right;
}
.margen-inferior-10{
	margin-bottom:10px;
}
.sin-negrita{
	font-weight:normal;
}
.fuente-menu{
	font-family:Gotham-Bold;
}
.fuente-titulo{
	font-family:Gotham-Ultra;
}
.fuente-contenido{
	font-family:Gotham-Book;
}
.margen-inferior-10{
	margin-bottom:10px;
}
.margen-inferior-20{
	margin-bottom:20px;
}
.margen-superior-20{
	margin-top:20px;
}
.espacio-arriba-abajo{
	padding-top:5px;
	padding-bottom:5px;
}
.texto-error{
    color:#f00;
}
.color-azul{
	font-color:#00f;
}
.sin-espacios{
	margin:0px;
	padding:0px;
}

/*******************************************************************************************/
/* Media Querys */
@media only screen and (min-width: 1200px) {
	/* Ancho de las opciones del menú */
	.nav-link{
		min-width:200px;
	}
	/* Imagen - Cómo se transmite */
	#img-como-se-transmite{
		margin-top: -120px;
	}
	/* Imagen - Recuerden */
	#img-recuerden{
		margin-top: -200px;
	}
	/* Imagen - Pagos */
	#img-pagos{
		margin-top: -110px;
	}
}

@media only screen and (max-width: 1199px) {
	/* Ancho de las opciones del menú */
	.nav-link{
		min-width:180px;
	}
	/* Imagen - Cómo se transmite */
	#img-como-se-transmite{
		margin-top: -100px;
	}
	/* Imagen - Recuerden */
	#img-recuerden{
		margin-top: -170px;
	}
	/* Imagen - Pagos */
	#img-pagos{
		margin-top: -100px;
	}
}

@media only screen and (max-width: 990px) {
	/* Logo El Perú Primiero */
	#logo-peru-primero{
		height:50px;
	}
	/* Titulo Notas */
	.difusion-noticia-titulo{
		font-weight:bold;
		font-size:18;
	}
	/* Imagen - Cómo se transmite */
	#img-como-se-transmite{
		margin-top: -70px;
	}
	/* Imagen - Recuerden */
	#img-recuerden{
		margin-top: -130px;
	}
	/* Imagen - Pagos */
	#img-pagos{
		margin-top: -70px;
	}
}
	
@media only screen and (max-width: 770px) {
	/* Logo El Perú Primiero */
	#logo-peru-primero{
		height:40px;
	}
	/* Titulo Notas */
	.difusion-noticia-titulo{
		font-weight:bold;
		font-size:16;
	}
	/* Imagen - Cómo se transmite */
	#img-como-se-transmite{
		margin-top:0px;
	}
	/* Imagen - Recuerden */
	#img-recuerden{
		margin-top: -100px;
	}
	/* Imagen - Pagos */
	#img-pagos{
		margin-top: 0px;
	}
	.conte_bonos2 .bono{
	flex: 0 0 100%;
    max-width: 100%;
	margin-left:0;
	margin-right:0;
	margin-bottom:20px;
}
	.centrar_conte_movil{
		text-align:center;
	}
	.mb_movil4{
		margin-bottom: 1.5rem !important;
	}
	.fondo_ladrillos{
		margin-left:0;
		margin-right:0;
	}
	/* Logo El Perú Primiero */
@media only screen and (max-width: 600px) {
	/* Logo El Perú Primiero */
	#logo-peru-primero{
		height:30px;
	}
	/* Titulo Notas */
	.difusion-noticia-titulo{
		font-weight:bold;
		font-size:14px;
	}
	/* Leer más */
	.difusion-leer-mas{
		display:none;
	}
	/* Imagen - Recuerden */
	#img-recuerden{
		margin-top: 0px;
	}
	/* Imagen - Adultos mayores */
	#img-adultos-mayores{
		display:none;
	}
	
}

