@charset "utf-8";
/* CSS Document */


.bono:hover{
	-webkit-box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.9);
	box-shadow: 2px 5px 10px 0 rgba(0,0,0,0.9);
	transform: scale(1.04);
	}
.link_bono{
	color: #000000;
}
.link_bono:hover{
	color: #000000;
	text-decoration:none;
	transform: scale(1.2);
}
.cabecera_bono{
	background:#132ECF;
	color:#ffffff;
	font-family:Gotham-Bold;
	font-size:1.6em;
	margin-bottom:0px;
	padding-right: 15px;
    padding-left: 15px;
	padding-top:5px;
	padding-bottom:5px;
}
.imagen_bono{
	background:#ffffff;
	text-align:center;
	margin-right: -15px;
    margin-left: -15px;
	padding-top:20px;
	padding-bottom:20px;
}
.concepto_bono{
	padding-top:15px;
	padding-bottom:20px;
	font-size:0.9em;
	line-height:1.4em;
}
.conte_bonos2{
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.conte_bonos2 .bono{
	flex: 0 0 40%;
    max-width: 40%;
	margin-left:5%;
	margin-right:5%;
	padding-right: 15px;
    padding-left: 15px;
}

